<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>MOTHERN</title>
</head>
<body>
  <header>
      <h1 class="main-header">MOTHERN</h1>
      <p>Manual for a Modern Mother</p>
  </header>
    <main>
    <div class="mainCon">
        <!-- if we were using a framework, these might be 6-col or something-->
        <section id="sectionCon">
          
        <section id="beer1">
          <div class="label_wrapper">
            <h1 class="hidden">NO high heels</h1>
            <object data="images/icon highheels.svg" type="image/svg+xml" class="svg-graphic" id="bottle"></object>
            <span class="see-more" data-target="1">See More Info</span>
          </div>

          <div class="text-wrapper">
            <!-- <h3>NO high heels</h3>
            <p>
              The feet are among the parts of 
            the body that suffer the most from work accidents. 
            According to the INSS study, over 39,000 accidents 
            were recorded in the foot region, except for the toes. 
            This places this region of the body as the 
            2nd that suffers most work accidents. -->
          </div>
        </section>

        <section id="beer2">
          <div class="label_wrapper">
            <h1 class="hidden">NO white pants</h1>
            <object data="images/icon pans.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info</span>
          </div>

          <div class="text-wrapper">
            <!-- <h3>NO white pants</h3>
            <p>
              By wearing white pants while you are taking care of a 
            child you have a 50% higher chance of 
            getting dirty compared to wearing 
            colorful clothes. So be careful.
            </p> -->
          </div>
        </section>
        
        <section id="beer3">
          <div class="label_wrapper">
            <h1 class="hidden">Have a pacifier</h1>
            <object data="images/icon pacifier.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="3">See More Info</span>
          </div>

          <div class="text-wrapper">
            <!-- <h3>HAVE a pacifier</h3>
            <p>
              An agreement with a recent  study released by 
            the American Academy of Pediatrics, the pacifier 
            use by children between 
            1 and  12 months of age, may prevent 
            the risk of sudden death.
 </p> -->
          </div>
        </section>

        <section id="beer4">
          <div class="label_wrapper">
            <h1 class="hidden">Have markers</h1>
            <object data="images/icon markers.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="4">See More Info</span>
          </div>

          <div class="text-wrapper">
            <!-- <h3>HAVE markers</h3>
            <p>
              As the child draws, she develops various skills. 
            Controlling a pencil or crayon in a 
            tweezing movement develops motor coordination. 
            This happens from the age of 3, when the 
            child moves from doodling to more meaningful drawing.
            </p> -->
          </div>
        </section>

        <section id="beer5">
          <div class="label_wrapper">
            <h1 class="hidden">Have wipes</h1>
            <object data="images/icon wipes.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            <span class="see-more" data-target="5">See More Info</span>
          </div>

          <div class="text-wrapper">
            <!-- <h3>HAVE wipes</h3>
            <p>
            Made especially for the skin care of babies,
            some baby wipeshave a soft and delicate touch 
             as they have over 90% water in their composition. 
             In addition, they have no fragrance, 
             so as not to cause strangeness in the little ones.
             Ideal for use as early as the baby's first months of life.
            </p> -->
          </div>
        </section>
      </section>

      </div>

        <article class="popover">
          <img class="ratings"></img>
          <h4 class="ipa-rating">IPA Rating</h4>
        <p class="beer-description"></p>
      </article>
    </main>
    <script src="js/main.js"></script>
</body>
</html>